[project]
	description = Hello World Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/edgarNzzN
[access "refs/for/refs/*"]
	read = group user/edgarNzzN
	push = group user/edgarNzzN
	label-Code-Review = -2..+2 group user/edgarNzzN
	label-Verified = -1..+1 group user/edgarNzzN
	rebase = group user/edgarNzzN
	removeReviewer = group user/edgarNzzN
	submit = group user/edgarNzzN
[access "refs/heads/*"]
	read = group user/edgarNzzN
	create = group user/edgarNzzN
	push = +force group user/edgarNzzN
	pushMerge = group user/edgarNzzN
[access "refs/tags/*"]
	push = group user/edgarNzzN
	push = +force group user/edgarNzzN
